# diretorios auxiliares
.pdf/
.aux/

# latex
*.aux
*.bcf*
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.toc
*.idx
*.ilg
*.ind

# arquivos comprimidos
*.zip

# mac >:(
.DS_Store
.AppleDouble
.LSOverride

# windows >:(
Thumbs.db
[Dd]esktop.ini
*.lnk

# editores
.vscode/

# varios
tex.err
tex.err.bak
tags
*.patch
*.diff
